.dashboard{

}
.intro {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 55vh;
  background: #f3f4f6;
  margin-bottom: 20px;
}

.intro h1 {
  font-size: 1rem;
  margin-left: 10px;
  font-weight: 500;
  color: #1f2937;
}

.intro p {
  font-size: 5rem;
  margin-left: 10px;
  font-weight: 300;
  color: #1f2937;
  margin-left: -50px;
  margin-top: 90px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 20px;
}

.card {
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 270px;
  padding: 1.5rem;
  text-align: center;
  height: 55vh;
  overflow: hidden;
}

.card img {
  width: 100%;
  object-fit: cover;
  display: block;
  height: 250px;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
}

.card h3 {
  margin-bottom: 0.5rem;
  color: #333;
}

.card p {
  color: #555;
  font-size: 0.9rem;
}

.signup-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background-color: #ff8fab;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.2s ease;
  margin-left: 350px;
}

.signup-btn:hover {
  background-color: #ff6b94;
}

